In [1]:
import pandas as pd

/Users/ilenapeng/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df_17 = pd.read_csv('2017-tw-foreign-nationality-reshape.csv')
df_22 = pd.read_csv('2022-tw-foreign-nationality-reshape.csv')

## Countries with most immigrants in Taiwan as a whole

In [3]:
# total, top 10 places
df_17.groupby('Country_EN').sum().sort_values('總 計 Total', ascending=False).head(10)

,總 計 Total,新北巿 New Taipei City,臺北市 Taipei City,桃園巿 Taoyuan City,臺中市 Taichung City,臺南市 Tainan City,高雄市 Kaohsiung City,宜蘭縣 Yilan County,新竹縣 Hsinchu County,苗栗縣 Miaoli County,...,嘉義縣 Chiayi County,屏東縣 Pingtung County,臺東縣 Taitung County,花蓮縣 Hualien County,澎湖縣 Penghu County,基隆市 Keelung City,新竹市 Hsinchu City,嘉義市 Chiayi City,金門縣 Kinmen County,連江縣 Lienchiang County
Country_EN,,,,,,,,,,,,,,,,,,,,,
(INDONESIA),232250,35569,29788,25702,27592,16923,20361,5973,5620,7110,...,5403,6849,1538,3030,2110,3356,4525,2000,696,128
(VIETNAM),183908,29798,4504,30337,32466,16955,15819,2857,5645,4183,...,3079,3645,582,692,155,1031,2101,514,111,43
(PHILIPPINES),141530,12615,6841,30951,16786,15573,15853,2119,13738,6622,...,1492,2397,276,1512,279,709,4863,566,62,25
(THAILAND),64163,9159,743,18079,10264,5450,3227,761,1976,2078,...,1103,651,39,626,0,297,522,102,4,3
(MALAYSIA),19445,2939,4071,1669,2947,969,1625,137,366,135,...,310,391,49,441,29,225,1051,141,93,1
(JAPAN),13531,1398,6792,744,1287,514,1157,55,194,43,...,34,68,27,58,6,60,752,31,3,0
(U S A),10206,1355,4278,497,1440,368,800,91,267,52,...,37,63,84,86,12,51,403,52,43,1
(KOREA),4221,681,1782,217,412,133,312,12,183,26,...,12,13,19,38,2,40,249,12,1,0
(INDIA),2966,384,1092,199,167,124,132,9,41,17,...,80,6,8,57,0,27,578,5,0,0
(CANADA),2205,319,776,152,275,87,236,23,55,14,...,9,21,16,25,0,15,91,22,1,0

In [4]:
df_22.groupby('Country_EN').sum().sort_values('總 計 Total', ascending=False).head(10)

,總 計 Total,新北巿 New Taipei City,臺北市 Taipei City,桃園巿 Taoyuan City,臺中市 Taichung City,臺南市 Tainan City,高雄市 Kaohsiung City,宜蘭縣 Yilan County,新竹縣 Hsinchu County,苗栗縣 Miaoli County,...,嘉義縣 Chiayi County,屏東縣 Pingtung County,臺東縣 Taitung County,花蓮縣 Hualien County,澎湖縣 Penghu County,基隆市 Keelung City,新竹市 Hsinchu City,嘉義市 Chiayi City,金門縣 Kinmen County,連江縣 Lienchiang County
Country_EN,,,,,,,,,,,,,,,,,,,,,
(INDONESIA),225949,34132,27192,25783,27996,16448,21633,5079,5405,6305,...,5615,6623,1249,2724,1692,3276,4251,1894,717,120
(VIETNAM),215491,32652,5615,36436,38338,19853,19432,2828,6622,5351,...,4189,4294,374,685,89,1327,2661,562,94,56
(PHILIPPINES),143351,12017,5875,32866,15753,14565,15997,1762,17167,6873,...,1564,2206,202,1248,171,715,5666,451,48,21
(THAILAND),65947,8467,1591,18991,10618,5335,3752,543,1914,1870,...,1244,606,24,401,10,282,563,56,107,16
(MALAYSIA),23565,4537,5309,1985,3252,1381,1963,188,518,204,...,291,388,38,520,13,356,1162,126,48,2
(JAPAN),15617,1818,6944,1088,1623,770,1322,87,297,51,...,41,73,38,54,7,74,948,55,4,0
(U S A),11634,1772,4765,536,1341,744,835,107,311,50,...,53,88,96,127,17,56,395,81,29,0
(KOREA),4839,992,1678,345,509,151,400,18,239,40,...,11,28,13,40,0,38,234,17,5,1
(INDIA),4392,671,1261,318,413,260,247,16,117,24,...,57,23,8,73,0,29,783,6,0,0
(UNITED KINGDOM),2971,485,1352,119,362,138,190,25,51,24,...,10,29,17,23,3,20,58,7,2,0

In [15]:
# Calculating the percent of the total number of foreigners in Taiwan that immigrated from Vietnam, the Philippines, Indonesia, Thailand or Malaysia
(225949 + 215491 + 143351 + 65947 + 23565) / sum(df_22['總 計 Total'])

0.914485229698464

## Countries with most immigrants in Taoyuan

In [5]:
# taoyuan, top 10
df_17.groupby('Country_EN').sum().sort_values('桃園巿 Taoyuan City', ascending=False).head(10)

,總 計 Total,新北巿 New Taipei City,臺北市 Taipei City,桃園巿 Taoyuan City,臺中市 Taichung City,臺南市 Tainan City,高雄市 Kaohsiung City,宜蘭縣 Yilan County,新竹縣 Hsinchu County,苗栗縣 Miaoli County,...,嘉義縣 Chiayi County,屏東縣 Pingtung County,臺東縣 Taitung County,花蓮縣 Hualien County,澎湖縣 Penghu County,基隆市 Keelung City,新竹市 Hsinchu City,嘉義市 Chiayi City,金門縣 Kinmen County,連江縣 Lienchiang County
Country_EN,,,,,,,,,,,,,,,,,,,,,
(PHILIPPINES),141530,12615,6841,30951,16786,15573,15853,2119,13738,6622,...,1492,2397,276,1512,279,709,4863,566,62,25
(VIETNAM),183908,29798,4504,30337,32466,16955,15819,2857,5645,4183,...,3079,3645,582,692,155,1031,2101,514,111,43
(INDONESIA),232250,35569,29788,25702,27592,16923,20361,5973,5620,7110,...,5403,6849,1538,3030,2110,3356,4525,2000,696,128
(THAILAND),64163,9159,743,18079,10264,5450,3227,761,1976,2078,...,1103,651,39,626,0,297,522,102,4,3
(MALAYSIA),19445,2939,4071,1669,2947,969,1625,137,366,135,...,310,391,49,441,29,225,1051,141,93,1
(JAPAN),13531,1398,6792,744,1287,514,1157,55,194,43,...,34,68,27,58,6,60,752,31,3,0
(U S A),10206,1355,4278,497,1440,368,800,91,267,52,...,37,63,84,86,12,51,403,52,43,1
(KOREA),4221,681,1782,217,412,133,312,12,183,26,...,12,13,19,38,2,40,249,12,1,0
(INDIA),2966,384,1092,199,167,124,132,9,41,17,...,80,6,8,57,0,27,578,5,0,0
(CANADA),2205,319,776,152,275,87,236,23,55,14,...,9,21,16,25,0,15,91,22,1,0

In [9]:
# Calculating the percent of the total number of foreigners in Taoyuan that immigrated from the Philippines
30951 / sum(df_17['桃園巿 Taoyuan City'])

0.28132669199585525

In [6]:
df_22.groupby('Country_EN').sum().sort_values('桃園巿 Taoyuan City', ascending=False).head(10)

,總 計 Total,新北巿 New Taipei City,臺北市 Taipei City,桃園巿 Taoyuan City,臺中市 Taichung City,臺南市 Tainan City,高雄市 Kaohsiung City,宜蘭縣 Yilan County,新竹縣 Hsinchu County,苗栗縣 Miaoli County,...,嘉義縣 Chiayi County,屏東縣 Pingtung County,臺東縣 Taitung County,花蓮縣 Hualien County,澎湖縣 Penghu County,基隆市 Keelung City,新竹市 Hsinchu City,嘉義市 Chiayi City,金門縣 Kinmen County,連江縣 Lienchiang County
Country_EN,,,,,,,,,,,,,,,,,,,,,
(VIETNAM),215491,32652,5615,36436,38338,19853,19432,2828,6622,5351,...,4189,4294,374,685,89,1327,2661,562,94,56
(PHILIPPINES),143351,12017,5875,32866,15753,14565,15997,1762,17167,6873,...,1564,2206,202,1248,171,715,5666,451,48,21
(INDONESIA),225949,34132,27192,25783,27996,16448,21633,5079,5405,6305,...,5615,6623,1249,2724,1692,3276,4251,1894,717,120
(THAILAND),65947,8467,1591,18991,10618,5335,3752,543,1914,1870,...,1244,606,24,401,10,282,563,56,107,16
(MALAYSIA),23565,4537,5309,1985,3252,1381,1963,188,518,204,...,291,388,38,520,13,356,1162,126,48,2
(JAPAN),15617,1818,6944,1088,1623,770,1322,87,297,51,...,41,73,38,54,7,74,948,55,4,0
(U S A),11634,1772,4765,536,1341,744,835,107,311,50,...,53,88,96,127,17,56,395,81,29,0
(KOREA),4839,992,1678,345,509,151,400,18,239,40,...,11,28,13,40,0,38,234,17,5,1
(INDIA),4392,671,1261,318,413,260,247,16,117,24,...,57,23,8,73,0,29,783,6,0,0
(CANADA),2719,475,949,180,323,125,286,23,66,20,...,12,32,23,28,1,16,77,23,1,0

In [10]:
# Calculating the percent of the total number of foreigners in Taoyuan that immigrated from Vietnam
36436 / sum(df_22['桃園巿 Taoyuan City'])

0.3029844416541241

In [11]:
# Calculating the percent of the total number of foreigners in Taoyuan that immigrated from the Philippines
32866 / sum(df_22['桃園巿 Taoyuan City'])

0.27329802007367554

In [14]:
# Calculating the percent of the total number of foreigners in Taoyuan that immigrated from Vietnam, the Philippines, Indonesia, Thailand or Malaysia
(36436 + 32866 + 25783 + 18991 + 1985) / sum(df_22['桃園巿 Taoyuan City'])

0.9651080602376577