In [1]:
import pandas as pd
import geopandas as gpd

/Users/ilenapeng/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
tw_df = pd.read_csv('tw-foreign-nationality.csv')

In [3]:
geodata = gpd.read_file('stanford-fn648mm8787-geojson.json')

In [4]:
geodata_for_merge = geodata[['name_2', 'geometry']]

In [5]:
df = tw_df.merge(geodata_for_merge, left_on='locality_name_for_merge', right_on='name_2')
df.head()

,locality,2022-total,2017-total,pop_difference,locality_name_for_merge,name_2,geometry
0,新北巿 New Taipei City,102389,97423,4966,New Taipei City,New Taipei City,"MULTIPOLYGON (((122.07875 25.63431, 122.07875 ..."
1,臺北市 Taipei City,69745,67059,2686,Taipei,Taipei,"MULTIPOLYGON (((121.41348 25.16764, 121.41348 ..."
2,桃園巿 Taoyuan City,120336,110018,10318,Taoyuan,Taoyuan,"MULTIPOLYGON (((121.48055 24.66928, 121.47849 ..."
3,臺中市 Taichung City,102661,95220,7441,Taichung,Taichung,"MULTIPOLYGON (((120.50069 24.26875, 120.50069 ..."
4,臺南市 Tainan City,61010,58082,2928,Tainan,Tainan,"MULTIPOLYGON (((120.13875 22.99792, 120.13736 ..."

In [6]:
df_geodata = gpd.GeoDataFrame(data=df, geometry=df['geometry'], crs='epsg:4326')
df_geodata.head()

,locality,2022-total,2017-total,pop_difference,locality_name_for_merge,name_2,geometry
0,新北巿 New Taipei City,102389,97423,4966,New Taipei City,New Taipei City,"MULTIPOLYGON (((122.07875 25.63431, 122.07875 ..."
1,臺北市 Taipei City,69745,67059,2686,Taipei,Taipei,"MULTIPOLYGON (((121.41348 25.16764, 121.41348 ..."
2,桃園巿 Taoyuan City,120336,110018,10318,Taoyuan,Taoyuan,"MULTIPOLYGON (((121.48055 24.66928, 121.47849 ..."
3,臺中市 Taichung City,102661,95220,7441,Taichung,Taichung,"MULTIPOLYGON (((120.50069 24.26875, 120.50069 ..."
4,臺南市 Tainan City,61010,58082,2928,Tainan,Tainan,"MULTIPOLYGON (((120.13875 22.99792, 120.13736 ..."

In [7]:
with open('tw-foreign-nationality.geojson', 'w') as f:
        f.write(df_geodata.to_json())